header {
    position: relative;
    text-align: center;
}
footer {
    text-align: center;
}
.headerFooter {
    background-color: rebeccapurple;
    padding: 1em;
    border-radius: 8px;
    color: mintcream;
}
.assignLinks{
    color: rebeccapurple;
}
#picture {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 125px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#bodyDiv {
    font-family: "Trebuchet MS", Tahoma, sans-serif;
    max-width: 800px;
    margin: block;
    margin: auto;
}
#mainContent {
    padding: 10 px;
}
#byui {
    color: mintcream;
}
