/*---------- tablet view ----------*/
@media only screen and (min-width: 37.5em) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
    header img {
        width: 80px;
    }
    #menuLabel {
        display: none;
    }
    nav ul {
        display: flex;
        padding: 0 40px 0 40px;
    }
    .menu {
        display: flex;
    }
    .menu li {
        display: block;
        flex: 1 1 100%;
        justify-content: center;
    }
    .motto {
        font-size: 1rem;
        margin-top: -10px;
    }
    #heroPic {
        height: 450px;
    }
    .article {
        margin: 1em;
    }
    .articleImg {
        width: 80%;
        float: right;
        margin: 1em;
    }
    .map {
        display: block;
        box-shadow: 0 0 25px #111;
        margin: .5em;
    }
    .weatherSummary {
        left: 50px;
    }
    .weatherBox {
        display: grid;
    }
    .forecastBox {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
       /* grid-template-rows: 1fr 2fr 1fr; */
        row-gap: none;
        margin: auto;
        padding: 1em;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-collapse: collapse;
    }
    .columnTop {
        font-size: 1.75em;
        background-color: #5B82D4;
        text-align: center;
        border: 1px solid darkgrey;
        border-collapse: collapse;
        color: white;
        padding: 1em;
        row-gap: none;
    }
    .columnMid {
        border-left: 1px solid darkgrey;
        border-right: 1px solid darkgrey;
        border-collapse: collapse;
        padding: 3em;
        row-gap: none;
    }
    .columnBottom {
        padding: 1.8em;
        border-left: 1px solid darkgrey; 
        border-right: 1px solid darkgrey;
        border-bottom: 1px solid darkgrey;  
        border-collapse: collapse;
        row-gap: none;
    }
    .contactInfo {
        justify-content: space-evenly;
        padding-left: 15rem;
    }

}