/*---------- desktop view (60 em) -----------*/
@media only screen and (min-width: 60em) {
    .menu {
        display: flex;
    }
        #menuLabel {
            display: none;
        }
        .menu li {
            display: block;
            flex: 1 1 100%;
        }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
    .motto {
        font-size: 1.1rem;
        margin-top: -5px;
    }
    #heroPic {
        height: 600px;
    }
    .articleImg {
        max-width: 800px;
    }
    .contactInfo {
        padding-left: 25rem;
    }


    /*   Home Page  index.html    */
    main div.towninfo {
        grid-template-columns: 1fr 1fr 1fr;
    }
    main div.towninfo section {
        display: grid;
    }
    main div.towninfo section div {
        display: grid;
        grid-template-columns: 1fr;
    }


    /*   Gallery Page   */
    #gallerySection {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
    }
    .galleryDiv:hover {
        box-shadow: 0 0 50px #333; 
    }
}