/* ----------- baseline view ------------- */

* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Oxygen", "Trebuchet MS", Tahoma, sans-serif;
}
/*.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    font-size: 0.8rem;
    margin: 0 auto;
    max-width: 900px;
}*/
header, footer {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rebeccapurple;
    color: mintcream;
}
header, nav, footer, main {
    max-width: 800px;
    margin: 0 auto;
}
.logo {
    height: 75px;
    padding: 0 1rem 0 2rem;
}
.banner {
    background-color:rebeccapurple;
    padding: 4px;
    padding-left: 6px;
    color: white;
    text-align: center;
}
.body {
    background-color: lightgray;
    width: 98%;
    display: block;
    margin: auto;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
}
nav {
    background-color: rgb(23, 4, 44);
    text-align: center;
    color: mintcream;
    display: flex;
    flex-flow: column;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li a {
    display: block;
    color: mintcream;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
}
nav li a:hover {
    background-color: lightgray;
    color: rgb(23, 4, 44);
}
.active {
    font-family: "Trebuchet MS", sans-serif;
    color: lightyellow;
}
#homeContent {
    font-size: 0.8rem;
    background-color: lightgray;
    padding: 10px;
}
main {
    /*display: grid;
    grid-template-columns: 1fr;*/
    font-size: 0.8rem;
    background-color: lightgray;
    padding: 10px;
}
.header{
    margin-bottom: 20px;
}
.footer {
    flex: 0 1 100%;
    height: 2rem;
}
p {
    font-size: 0.85em;
    margin-left: 8px;
}
#siteHeader {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 50px;
    color: #dde6f0;
    background-color: #5B82D4;
    font-family: "Oxygen", "Trebuchet MS", sans-serif;
}
#primaryNav {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 30px;
    color: #232D52;
    background-color: #BAD6EF;
    font-family: "Poppins", sans-serif;
}
#activeNav {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 30px;
    color: #FEB766;
    background-color: #232d52;
    font-family: "Poppins", sans-serif;
}
#hoverNav {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 30px;
    color: #F9E79A;
    background-color: #5B82D4;
    font-family: "Poppins", sans-serif;
}
#footerNav {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 20px;
    color: #232D52;
    background-color: #BAD6EF;
    font-family: "Poppins", sans-serif;
}
#h1Sample {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 30px;
    color: #232D52;
    background-color: #DDE6F0;
    font-family: "Poppins", sans-serif;
}
#h2Sample {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 25px;
    color: #232D52;
    background-color: #DDE6F0;
    font-family: "Poppins", sans-serif;
}
#h3Sample {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 20px;
    color: #232D52;
    background-color: #DDE6F0;
    font-family: "Poppins", sans-serif;
}
#pSample {
    border: black 1 px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    font-size: 16px;
    color: #232D52;
    background-color: #DDE6F0;
    font-family: "Oxygen", "Trebuchet MS", sans-serif;
}
#byui {
    color: mintcream;
}
#lastUpdated {
    color:lightpink;
    font-size: .80rem;
    margin: -8px;
}

/*---------- tablet view ----------
@media only screen and (min-width: 37.5em) {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    header, footer{
        border-radius: 10px;
    }
}
*/

/*---------- desktop view (60 em) -----------
@media only screen and (min-width: 60em) {
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    h1 {
        font-size: 3.0rem;
    }
    h2 {
        font-size: 2rem;
    }
    header, footer {
        border-radius: 20px;
    }
}
*/